[env]
ANVIL_RPC_URL = "http://localhost:8545"
ANVIL_PKEY_0 = "0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80"
BASE_RPC_URL = "TODO"

[tasks.anvil]
alias = "a"
description = "Start anvil local ethereum testnet node"
run = "anvil"

[tasks."build"]
alias = "b"
description = "Build the contracts"
run = "forge b"
quiet = true

[tasks."deploy-anvil"]
alias = "da"
description = "Deploy the Counter contract to the local test network"
run = """
forge script \
  script/Counter.s.sol \
  --broadcast \
  --rpc-url $ANVIL_RPC_URL \
  --private-key $ANVIL_PKEY_0
"""
quiet = true

[tasks."deploy-base"]
alias = "ds"
description = "Deploy the contracts to base"
run = """
forge script \
  CounterScript \
  --broadcast \
  --chain base \
  --rpc-url $BASE_RPC_URL \
  --private-key $DEV_PKEY \
  --verify \
  -vvvv \
  --interactives 1
"""
quiet = true

[tasks."test"]
alias = "t"
description = "Run the contracts tests"
run = "forge test"
quiet = true

[tools]
"cargo:convco" = "latest"
dprint = "latest"
hk = "latest"
"npm:solhint" = "latest"
pkl = "latest"
uv = "latest"
"pipx:slither-analyzer" = "latest"
